/* Estilos Gerais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
}

/* Estilos do Título "Relatório de Saídas" */
h2 {
    color: #333;
}

/* Estilos do Formulário */
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-size: 18px;
    margin-bottom: 8px;
    color: #333;
}

form input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

/* Estilos do Botão "Gerar Relatório" */
form button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
}

form button:hover {
    background-color: #0056b3;
}

/* Estilos do Link "Voltar para o Dashboard" */
.back-to-dashboard {
    display: inline-block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.back-to-dashboard:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Estilos da Mensagem de Sucesso */
p.success-message {
    color: #4caf50;
    font-weight: bold;
}

/* Estilos dos Botões de Download */
.download-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.download-buttons a {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.download-buttons a:hover {
    background-color: #0056b3;
}
