body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
}

h2 {
    color: #333;
    
}

p {
    color: #4caf50;
    font-weight: bold;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}

.download-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.download-buttons a {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

.download-buttons a:hover {
    background-color: #0056b3;
}